@model DA_POC.Models.Pages.SearchPage

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background: #f0fff0;
        font-family: Georgia;
        width: 800px;
        margin: auto;
    }
    input {
        background: #ececec;
        margin: 20px 20%;
        width: 60%;
        font-size: 30px;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 15px;
    }
    #subcontent {
        display: none;
    }
    #query {
        font-weight: bold;
    }
    #results {
        float: left;
        width: 75%;
    }
    #helptext {
        font-size: 16px;
    }
    #Facets {
        float: right;
        margin-left: 3%;
        width: 22%;
    }
    .image {
        margin-right: 10px;
        width: 50px;
    }
    .title {
        font-weight: bold;
    }
    .hit {
        border: dotted 2px #ccc;
        border-radius: 5px; 
        margin: 5px;
        padding: 5px;
    }
    .result {
        border: 2px solid #ccc;
        /*height: 200px;*/
        margin: 10px 0;
        padding: 10px;
        position: relative;
    }
    .result ul {
        list-style-type: none;
        margin: 0;
    }
    .page_navigation {
        font-size: 1.2em;
        text-align: center;
        width: 100%;
    }
    .page_navigation a {
        margin: 0 5px;
    }
    .page_navigation a.active_page {
        font-weight: bold;
        color: black;
    }
    .expand {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        float: right;
    }
</style>

<input id="searchterm" />
<div id="subcontent">
    <div id="results">
        <p id="helptext">Resultater for <span id="query"></span></p>
        <div id="Nyheter" class="result">
            <h3>Nyheter</h3>
            <ul id="Nyhet" class="resultContainer content"></ul>
            <div class="page_navigation"></div>
            <a class="expand" href="#">Vis alle</a>
        </div>
        <div id="Personer" class="result">
            <h3>Personer</h3>
            <div id="Person" class="resultContainer content"></div>
            <div class="page_navigation"></div>
            <a class="expand" href="#">Vis alle</a>
        </div>
    </div>
    <div id="Facets"></div>
</div>
<script>
    var timer;
    var onQuickSearchComplete = function(data) {
        $("#query").html(query);
        $(".resultContainer").empty();
        $.each(data.Hits, function (i, item) {
            if (item.Type === "Nyhet") {
                $("#" + item.Type).append(
                    "<li class='hit'>" +
                        "<div class='title'><a href='" + item.Title + "'>" + item.Title + "</a></div>" +
                        "<div class='ingress'>" + item.MainIntro + "</div>" +
                        //"<div class='content'>" + item.Content + "</div>" +
                        "</li>");
            } else {
                $("#" + item.Type).append(
                    "<div class='hit'>" +
                        "<span class='image'><img src='" + item.ImageUrl + "' /></span>" +
                        "<span class='title'><a href='" + item.Title + "'>" + item.Title + "</a></span>" +
                    "</div>");
            }
        });
        $("#Facets").empty();
        $.each(data.Facets, function(i, item) {

            $("#Facets").append("<h4>" + item.Name + "</h4>");

            var list = $("<ul></ul>");
            $.each(item.Links, function(i, item) {
                list.append("<li>" + item.Text + " (" + item.Count + ")");
            });
            $("#Facets").append(list);
        });
        $("#subcontent").show();
        $("#Nyheter").pajinate({
            items_per_page: 2,
            nav_label_next: "&gt;",
            nav_label_prev: "&lt;",
            show_first_last: false
        });
        $("#Personer").pajinate({
            items_per_page: 2,
            nav_label_next: "&gt;",
            nav_label_prev: "&lt;",
            show_first_last: false
        });
    };
    var getSearchResults = function () {
        var query = $("#searchterm").val();
        $.post("/quicksearch/q/" + query, null, onQuickSearchComplete, "json");
    };
    $(function() {
        $("#searchterm").focus();
        $("#searchterm").autocomplete({
            source: "/autocomplete/q/",
            minLength: 2
        });
    });
    $("#searchterm").keyup(function () {
        clearTimeout(timer);
        timer = setTimeout(function () {
            getSearchResults();
        }, 200);
    });
</script>
