@model  DA_POC.Models.Pages.Kategori

@{

}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              <p></p>
        </div>
    </body>
</html>