<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.8" targetFramework="net45" />
  <package id="EPiServer.Framework" version="7.0.859.8" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="phantomjs.exe" version="1.8.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.31.2" targetFramework="net45" />
  <package id="SystemWrapper-sn" version="0.5.2" targetFramework="net45" />
</packages>